<div class="utility-navigation">
  {% include "@decanter/elements/link/link.twig" with{
    attributes: create_attribute({'class': ['external-link'], 'target': '_blank'}),
    link_href: "https://permitparking.stanford.edu",
    link_content: 'Purchase Permit'|t
  } %}
  {% include "@decanter/elements/link/link.twig" with{
    attributes: create_attribute({'class': ['external-link'], 'target': '_blank'}),
    link_href: "https://visitorparking.stanford.edu",
    link_content: 'Visitor Parking'|t
  } %}
  {% include "@decanter/elements/link/link.twig" with{
    attributes: create_attribute({'class': ['external-link'], 'target': '_blank'}),
    link_href: "https://plancommute.stanford.edu",
    link_content: 'Plan Your Commute'|t
  } %}
</div>
