@charset "UTF-8";

.su-alert__text a {
  color: inherit;
}

.su-alert--plain {
  background-color: $su-color-black;
}

.su-alert--success {
  background-color: $su-color-palo-verde-dark;
}

.su-alert--info {
  background-color: $su-color-sky-dark;
}

.su-alert--warning {
  background-color: $su-color-brick-light;
}

.su-alert--error {
  background-color: $su-color-cardinal-red;
}
