@charset "UTF-8";

.su-hero__media {
  @include grid-media("md") {
    position: static;
    height: 608px;
  }
}

.su-hero {
  @include grid-media("md") {
    display: block;
  }

  .su-hero__card {
    bottom: auto;
    border: none;
    box-shadow: none;
    color: $st-color-white;

    @include grid-media-max("sm") {
      margin-top: 0 !important;
    }

    @include grid-media("md") {
      margin: 0;
      max-width: 650px;
    }

    @include grid-media("lg") {
      left: 103px;
    }

    a {
      color: $st-color-white;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  .su-card__contents {
    padding: 2.4rem;

    > h2 {
      font-size: 1.3333em;
    }

    > p {
      font-size: 1.6rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        position: relative;
        padding-right: 1.8rem;

        &::after {
          position: absolute;
          margin-left: 0.8rem;
          font-size: 3.2rem;
          line-height: 1.8rem;
          content: "\203A";
        }
      }
    }
  }

  &.color--black .su-hero__card {
    background-color: $st-color-black;
  }

  &.color--cardinal-red .su-hero__card {
    background-color: $st-color-cardinal-red;
  }

  &.color--sky-blue .su-hero__card {
    background-color: $st-color-sky-blue;
  }

  &.color--brick .su-hero__card {
    background-color: $st-color-brick;
  }

  &.color--palo-verde .su-hero__card {
    background-color: $st-color-palo-verde;
  }
}

.overlay-right .su-hero .su-hero__card {
  @include grid-media("lg") {
    right: 103px;
  }
}
