@charset "UTF-8";

.su-hero {
  .su-hero__card {
    border: none;
    box-shadow: none;
    color: $su-color-white;
  }

  &.color--black .su-hero__card {
    background-color: $st-color-black;
  }

  &.color--cardinal-red .su-hero__card {
    background-color: $st-color-cardinal-red;
  }

  &.color--sky-blue .su-hero__card {
    background-color: $st-color-sky-blue;
  }

  &.color--brick .su-hero__card {
    background-color: $st-color-brick;
  }

  &.color--palo-verde .su-hero__card {
    background-color: $st-color-palo-verde;
  }

  .su-card__contents {
    a {
      color: $su-color-white;
    }
  }
}
