@charset "UTF-8";
/* Subtheme Specific colors, Stanford/Decanter colors are not defined here */

// All variable names should be prefaced with your abbreviation (saa, soe, ood, etc)

// define colors here in the format of:
//$abbreviation-color-pink: #ff0099; // like $saa-color-pink
$st-color-blue: #2C5697;
$st-color-outline-blue: #0098DB;
$st-color-light-gray: #EFF0F0;
$st-color-dark-gray: #4D4F53;
$st-color-footer-background: #181d1c;
