@charset "UTF-8";
/* Subtheme Specific colors, Stanford/Decanter colors are not defined here */

// All variable names should be prefaced with your abbreviation (saa, soe, ood, etc)

// define colors here in the format of:
//$abbreviation-color-pink: #ff0099; // like $saa-color-pink
$st-color-black: #2e2d29;
$st-color-cardinal-red: #8c1515;
$st-color-sky-blue: #016895;
$st-color-brick: #7f2d48;
$st-color-palo-verde: #017e7c;
$st-color-outline-blue: #0098DB;
